.color1 {color: #000000;}
.color2 {color: #0a1f40;}
.color3 {color: #264d8f;}
.color4 {color: #4781e9;}
.color5 {color: #6ebaff;}

html {
    color-scheme: dark;
    padding: 0;
    margin: 0;
}

header {
    background-color: #4781e9;
    text-align: center;
    color: #282c34;
}

header h1 {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a1f40;
    box-sizing: border-box;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  select, button {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .game-board {
    width: 40vw;
    display: grid;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    margin-top: 10px;
    grid-auto-rows: 60px;
  }

  .tabuleiro-container {
    height: calc(100vh - 120px); /* Ajusta de acordo com altura do header */
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .card {
    width: 60px;
    height: 60px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #ccc;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
  }
  
  .card.flipped {
    background-color: #fefefe;
  }
  
  .hidden {
    display: none;
  }
  