.color1 {color: #000000;}
.color2 {color: #0a1f40;}
.color3 {color: #264d8f;}
.color4 {color: #4781e9;}
.color5 {color: #6ebaff;}

html {
    color-scheme: dark;
    padding: 0;
    margin: 0;
}

header {
  height: 100px;
    background-color: #264d8f;
    text-align: center;
    color: #282c34;
    box-shadow: #000000 5px 5px 10px;
}

header h1 {
    margin: 0;
    padding:0;
    color: #ffffff;
}

.menu {
    justify-content: center;
    align-items: center;
    background-color: #264d8f;
    color: #ffffff;
    text-shadow: #000000 2px 2px 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a1f40;
    box-sizing: border-box;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  select, button {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .tabuleiro {
    max-width: fit-content;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: clamp(8px, 1vw, 16px);
    padding: 10px;
    margin-top: 10px;
    grid-auto-rows: 60px;
    background-color: #F0F0F3;
    border-radius: 10px;
    box-shadow: #000000 10px 10px 10px;
  }

  .tabuleiro-container {
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } 
  
  .carta {
    width: 60px;
    height: 60px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #ccc;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
  }
  
  .carta.virada {
    background-color: #fefefe;
  }
  
  .hidden {
    display: none;
  }
  